@charset "UTF-8";
/* CSS Document */

/* adding custom fonts */ 
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Raleway Light Italic'), local('Raleway-LightItalic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptpg8zYS_SKggPNyCgw5qN_AtCb.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptsg8zYS_SKggPNyCg4TYFq.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptpg8zYS_SKggPNyCgw9qR_AtCb.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwN4rWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Raleway Black'), local('Raleway-Black'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwK4vWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
	scroll-behavior: smooth;
}
.hidden {
	display: none;
}

body { 
	font-family: "Raleway", sans-serif, Arial;
	margin: auto;
	height: 100%;
}

header {
	padding-top: 20px;
	width: 100vw;
}

.lightbox { 
	display: none; 
}
#mainNav {
	text-align: center;
	width: 100%;
	margin-top: 20px;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	flex-wrap: nowrap;
	background: #000;
}

#mainNav a {
	width: 15%;
	text-decoration: none;
	font-size: calc(0.5em + 1vw);
	font-weight: 500;
	text-align: center;
	width: 15%;
	color: white;
	text-transform: uppercase;
}

#logo {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 80%;
	text-align: center;
	width: 20%;
	cursor: pointer;
}

#logo img {
	max-height: 60%;
	max-width: 100%;
}


#content {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 40px;
}

#promo { 
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 60px;
}

#promo h2 {
	width: 100%;
	text-align: center;
	font-size: 38px;
	font-weight: 900;
	margin-bottom: 50px;
	color: black;
}

#promoImage {
	display: inline-block;
	background-image: url(../images/3colours.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100vw;
	height: 300px;
}

#introWrapper {
	width: 80%;
}

#introTitle, #testimonialsTitle {
	width: 100%;
	text-align: center;
	font-size:30px;
	font-weight: bold;
	font-style: italic;
	color: #ed5292;
}

#intro {
	font-size: 18px;
	padding-top: 50px;
	line-height: 20pt;
	color: #5f5e5e;
	text-align: center;
	margin-bottom: 40px;
}

#testimonialsWrapper {
	width: 80%; 
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.testimonial { 
	font-size: 17px;
	padding-top: 40px;
	line-height: 20pt;
	color: #5f5e5e;
	text-align: center;
}

.testimonial:first-line { 
	font-size: 20px;
	letter-spacing:1.2pt;
	line-height: 25pt;
	font-weight: bold;
	font-style: italic;
}

.testimonialName {
	font-size: 16px;
	font-style: italic;
	line-height: 20pt;
}

#testimonialButton {
	padding-top: 40px;
	display: inline-flex;
	flex: 1;
	justify-content: center;
	width: 80%;
}

#testimonialButton button {
	padding: 20px;
	height: auto;
	width: 100%;
	font-family: "Raleway", sans-serif, Arial;
	font-size: 18px;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 1.2pt;
	color: #fff;
	border: none;
	opacity: 1;
	background: #4c4c4c; 
    background: -webkit-linear-gradient(#4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    background: -o-linear-gradient(#4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    background: linear-gradient(#4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* Chrome10-25,Safari5.1-6 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

#mainFooter {
	max-width: 100%;
	margin-top: 40px;
	height:15em;
	background-color: #81cae8;
	font-size: calc(0.3em + 1vw);
	color: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
	padding-left: 20px;
	padding-right: 20px;
}

footer h5 {
	padding-bottom: 10px;
	font-weight: bold;
}

footer ul {
	line-height:1.5;
	font-style: italic;
}

footer a {
	color: #fff;
	text-decoration: none;
}

.columnsWrapper {
	display: inline-flex;
	flex-wrap: nowrap;
	width: 50%;
	justify-content: space-around;
}

.column {
	margin-left: 5px;
	margin-right: 5px;
}

#footerCopyright {
	background-color: #000;
	width: 100%;
	height: 60px;
	display: inline-flex;
	justify-content: center;
	align-items: flex-end;
	text-align: center;
}

.copyright {
	color: #f9f208;
	font-weight: normal;
	font-size:calc(0.1em + 1vw);
	line-height: 1.2;
	padding-bottom: 1em;
}

footer a {
	color: white;
}

footer a:hover {
	color: #1276c0;
	-moz-transition  : all 0.2s ease-in-out;
	-webkit-transition  : all 0.2s ease-in-out;
    -o-transition       : all 0.2s ease-in-out;
    -ms-transition       : all 0.2s ease-in-out;
	transition    : all 0.2s ease-in-out;
}

/* ABOUT PAGE */ 

#aboutContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.about h3 {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	font-size: 44px;
	color: white;
}

.about p {
	font-weight: 500;
	font-size: 20px;
	color: white;
	width: auto;
	padding-top: 80px;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}

.aboutImage {
	width: 100vw;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	height: 500px;
	display: inline-flex;
	align-items: center;
	background-size: cover;
	background-position: center;
}

#newsButton {
	padding-top: 40px;
	width: 100%;
	height: 81px;
}

#newsButton button { 
	height: 81px;
	font-size: 16pt;
	padding: 24px;
	font-family: "Raleway", sans-serif, Arial;
	font-weight: bold;
	background-color: #d6e0a1;
	color: white;
	border: 0;
	opacity: 1;
	background: #4c4c4c; 
    background: -webkit-linear-gradient(#4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    background: -o-linear-gradient(#4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    background: linear-gradient(#4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* Chrome10-25,Safari5.1-6 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

/* PRODUCTS PAGE */

#productsContainer {
	width: 100vw;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#productsImage {
	width: 100%;
	height: auto;
}

#productsDesc {
	margin: auto;
	width: 100%;
	background-color: #d0e47f;
	margin-bottom: -60px;
	display: inline-flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
}

.product {
	background-color: #ed5292;
	width: 30%;
}

.product img {
	width: 100%;
	text-align: center;
}

#productsDesc h3 {
	color: #ed5292;
	text-align: center;
	font-size: 60px;
	font-weight: 900;
	padding-bottom: 10px;
}

#productsDivider {
	width: 340px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 25px;
	border-bottom: 5px solid #ed5292;
}

.bars p {
	font-size: 14px;
	padding: 20px;
	text-align: center;
}

.bars span {
	display: none;
	padding-top: 5%;
	padding-bottom: 2%;
	font-size: 18px;
	text-align: center;
	width: 100%;
}

/* LOCATIONS PAGE */

#locations {
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#map  {
	width: 100%;
	background-color: grey;
	height: 500px;
}

#infoContainer {
	height: auto;
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.info h4 {
	color:#ed5292;
	font-weight: 800;
	font-size: 24px;
	margin-bottom: 10px;
}

.info p {
	color: #5f5e5e;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1.2;
}

#storeLocator {
	width: 100%;
	background-color: #d0e47f;
	height: auto;
	margin-top: 10px;
	padding-bottom: 20px;
	margin-bottom: -60px;
}

#storeLocator h3 {
	font-weight: bold;
	font-style: italic;
	font-size: 30px;
	color: #ed5292;
	text-align: center;
	padding: 60px;
}

#locatorBox {
	background-color: #ed5292;
	width: 80%;
	min-width: 350px;
	height: auto;
	margin: auto;
	margin-bottom: 30px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	text-align: left;
}

#locatorForm input {
	font-family: Raleway, sans-serif, Arial;
	width: 50%;
	text-align: center;
	background-color: #fff;
	padding: 20px;
	font-size: 18px;
}

#locatorForm p {
	width: 50%;
	text-align: center;
	font-size: 18px;
	padding-left: 5%;
}

#locatorForm input[type="submit"] {
	background-color: #000;
	height: auto;
	padding: 20px;
	width: 30%;
	float: right;
	text-align: center;
	color: white;
	margin-left: auto;
	margin-right: auto;
	font-weight: 300;
	text-transform: uppercase;
	border: 0;
	-moz-transition  : all 0.3s ease-in-out;
	-webkit-transition  : all 0.3s ease-in-out;
    -o-transition       : all 0.2s ease-in-out;
    -ms-transition       : all 0.2s ease-in-out;
	transition    : all 0.2s ease-in-out; 
}

#locatorForm input[type="submit"]:hover {
	background-color: #1276c0;
}

/* CONTACT PAGE */

#contact {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#contact h2 {
	width: 100%;
	height: auto;
	font-size: 64px;
	font-weight: 800;
	color: #ed5292;
	text-align: center;
	padding-bottom: 60px;
	padding-top: 20px;
}

#contact h3 {
	width: 100%;
	font-weight: bold;
	font-style: italic;
	font-size: 48px;
	color: #ed5292;
	padding-bottom: 40px;
	text-align: center;
}

#contact p {
	color: #5f5e5e;
	line-height: 1.2;
}

#email {
	width: 100%;
}

#call {
	padding-top: 60px;
	padding-bottom: 40px;
}

.title {
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;
}

.number {
	padding-bottom: 10px;
	text-align: center;
}

#socialMedia {
	width: 100%;
	background-color: #d0e47f;
	height: auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-top: 40px;
	margin-bottom: -60px;
}

#contactForm {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
}
#contactForm input, textarea { 
	width: 80%; 
	padding:20px;
	font-family: Raleway, sans-serif, Arial; 
	font-size: 18px;
}

#contactForm input[type="submit"] { 
	background-color: #000;
	height: auto;
	margin-top: 10px;
	padding: 20px;
	width: 90%;
	text-align: center;
	color: white;
	font-weight: 300;
	font-size: 22px;
	text-transform: uppercase;
	border: 0;
}

.icon {
	width: 15%;
	margin: 10px;
	-moz-transition  : all 0.2s ease-in-out;
	-webkit-transition  : all 0.2s ease-in-out;
    -o-transition       : all 0.2s ease-in-out;
    -ms-transition       : all 0.2s ease-in-out;
	transition    : all 0.2s ease-in-out; 
}


/* LAYOUT FOR BIGGER SCREENS */

@media screen and (min-width: 641px) {

.lightbox {
	display: block;
	height: auto;
	background-color: lightblue;
	text-align: center;

}

.lightbox span {
	display: block;
	position: absolute;
	width: 50%;
	top: 25%;
	right: 25%;
	left: 25%;
	font-size: 60px;
	color: white;
	font-weight: 400px;
}

.lightbox-close {
	padding: 10px;
	width: 100px;
	border: none;
	background-color: black;
	cursor: pointer;
	color: white;
	font-family: "Raleway", sans, Arial;
	font-weight: 500;
	font-size: 20px;
}

.lightbox-close:hover {
	opacity: 0.6;
	-moz-transition  : all 0.2s ease-in-out;
	-webkit-transition  : all 0.2s ease-in-out;
    -o-transition       : all 0.2s ease-in-out;
    -ms-transition       : all 0.2s ease-in-out;
	transition    : all 0.2s ease-in-out;
}

.video-player {
	opacity: 0.4;
	position: relative;
	display: block;
	height: auto;
	width: 100vw;
	z-index: 0;
}

.rWind {
	padding: 10px;
	width: 100px;
	border: none;
	background-color: black;
	cursor: pointer;
	color: white;
	font-family: "Raleway", sans, Arial;
	font-weight: 500;
	font-size: 20px;
			-moz-transition  : all 0.2s ease-in-out;
	-webkit-transition  : all 0.2s ease-in-out;
    -o-transition       : all 0.2s ease-in-out;
    -ms-transition       : all 0.2s ease-in-out;
	transition    : all 0.2s ease-in-out;
}

.rWind:hover {
	opacity: 0.6;
}
.playing {
	opacity: 1;
}

.controls {
	position: absolute;
	width: 50%;
	bottom: 10%;
	left: 25%;
	right: 25%;
	z-index: 1;
	display: none;
}
.controlsShowing {
	display: inline-block;
}

#mainNav a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.navLink:hover {
	-moz-transition  : all 0.2s ease-in-out;
	-webkit-transition  : all 0.2s ease-in-out;
    -o-transition       : all 0.2s ease-in-out;
    -ms-transition       : all 0.2s ease-in-out;
	transition    : all 0.2s ease-in-out;
	background: #82c9e8;
}

#promo h2 {
	margin-bottom: 60px;
}

@-webkit-keyframes changeColour {
	0% {color: #81cae8;}
	20% {color: #8a5da2;}
	40% {color: #ed5292;}
	60% {color: #e56139;}
	80% {color: #d0e47f;}
	100% {color: #81cae8;}
}

@keyframes changeColour {
	0% {color: #81cae8;}
	20% {color: #8a5da2;}
	40% {color: #ed5292;}
	60% {color: #e56139;}
	80% {color: #d0e47f;}
	100% {color: #81cae8;}
}

#logo:hover {
	opacity: 0.7;
	-moz-transition  : all 0.2s ease-in-out;
	-webkit-transition  : all 0.2s ease-in-out;
    -o-transition       : all 0.2s ease-in-out;
    -ms-transition       : all 0.2s ease-in-out;
	transition    : all 0.2s ease-in-out; 
}

#promo h2 {
	font-size: 60px;
}

#promoImage {
	height: 650px;
}

#introWrapper {
	width: 55%;
}

#introTitle, #testimonialsTitle {
	text-align: center;
	font-size:36px;
	font-weight: bold;
	font-style: italic;
	color: #ed5292;
}

#intro {
	font-size: 18px;
	padding-top: 50px;
	line-height: 20pt;
	color: #5f5e5e;
	text-align: left;
	text-indent: 30px;
	margin-bottom: 20px;
}

#testimonialsWrapper {
	flex-direction: row;
	justify-content: space-around;
	margin-top: 40px;
	margin-right: 80px;
	margin-left: 80px;
	margin-bottom: 20px;
}

#testimonialsTitle {
	width: 100%;
	font-size:50px;
}

.testimonial { 
	text-indent: -30px;
	padding-left: 30px;
	text-align: left;
	color: #5f5e5e;
	width: 40%;	
	font-size: 18px;
}

.testimonial:first-line { 
	font-size:24px;
	line-height: 66px;
}

.testimonialName {
	line-height: 56px;
}

#testimonialButton {
	width: 100%;
}

#testimonialButton button {
	padding: 10px;
	height: 80px;
	width: 400px;
	font-size: 18px;
	background: #4c4c4c; 
    background: -webkit-linear-gradient(#4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    background: -o-linear-gradient(#4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    background: linear-gradient(#4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* Chrome10-25,Safari5.1-6 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	-moz-transition  : all 0.3s ease-in-out;
	-webkit-transition  : all 0.3s ease-in-out;
    -o-transition       : all 0.2s ease-in-out;
    -ms-transition       : all 0.2s ease-in-out;
	transition    : all 0.2s ease-in-out; 
}

#testimonialButton button:hover {
	cursor: pointer;
	opacity: 0.6;
}

#mainFooter {
	font-size: calc(0.4em + 1vw);
	padding-left: 40px;
	padding-right: 40px;
}

footer ul {
	padding-left: 50px;
}

.columnsWrapper:first-child {
	justify-content: flex-start;
}

#footerCopyright {
	height: 80px;
}

.copyright {
	font-size:calc(0.1em + 1vw);
}

/* ABOUT PAGE (LARGE SCREEN) */

.about h3 {
	text-align: left;
	width: auto;
	padding-left: 144px;
	padding-right: 144px;
}
.about p {
	width: 60%;
	font-size: 30px;
	text-align: right;
	padding-left: 144px;
	padding-right: 144px;
}

.right {
	width: 100%;
	float: right;
	padding: 0;
	text-align: right;
}

#newsButton button {
	font-size: 28px;
	-moz-transition  : all 0.3s ease-in-out;
	-webkit-transition  : all 0.3s ease-in-out;
    -o-transition       : all 0.2s ease-in-out;
    -ms-transition       : all 0.2s ease-in-out;
	transition    : all 0.2s ease-in-out; 
}

#newsButton button:hover { 
	opacity: 0.6;
	cursor: pointer;
}

/* PRODUCTS PAGE (LARGER SCREENS) */

#productsImage {
	width: 100vw;
	height: auto;
}	

#productsDesc {
	padding-top: 40px;
	padding-bottom: 40px;
	justify-content: center;

}

.product {
	margin-left: 20px;
	margin-right: 20px;
	background-color: #ed5292;
	width: 18%;
}

.product img {
	width: 100%;
}

.product img:hover {
	opacity: 0.6;
	cursor: pointer;
	-moz-transition  : all 0.2s ease-in-out;
	-webkit-transition  : all 0.2s ease-in-out;
    -o-transition       : all 0.2s ease-in-out;
    -ms-transition       : all 0.2s ease-in-out;
	transition    : all 0.2s ease-in-out;
}

.bars {
	z-index: 1;
	position: absolute;
	top:calc(12vw + 9%);
}

.bar { 
	display: inline-block;
	width:calc(75vw + 2.1em);
	height: 0.3vw;
	background: pink;
	margin-bottom: 0.2vw;
 }

 .bar p, span { 
	opacity: 0;
	display: none;
 }

.desc {
	height: auto;
	background: pink;
	margin-bottom: 1vw;
	animation: dropDesc 0.4s ease-in both;
}

.desc span {
	display: none;
	opacity: 1;
	text-align: center;
	font-size: 2vw;
	padding-top: 5%;
	padding-bottom: 2%;
	animation: textFadeIn 1s 0.4s ease-in both;
}

.desc p {
	display: block;
	line-height: 1.2;
	width: 30%;
	text-align: center;
	vertical-align: center;
	height: 100%;
	margin: auto;
	color: black;
	opacity: 1;
	font-size: 1vw;
	padding-bottom: 3%;
	animation: textFadeIn 1s 0.4s ease-in both;
}

@keyframes dropDesc {
	from {
		height: 1vw;
	}
	to {
		height: 15vw;
	}

.descText {
	color: white;
	font-size: 70px;
	padding: 20px;
	width: 60%;
	text-align: center;
}


@keyframes textFadeIn {
	from { 
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
}
/* LOCATIONS PAGE (FOR LARGE SCREENS) */

#map  {
	width: 70%;
	height: 700px;
	margin-bottom: 30px;
}

#infoContainer {
	height: 700px;
	width: 10%;
	flex-direction: column;
	justify-content: space-between;
	text-align: right;
}

.info {
	padding-top: 30%;
	padding-bottom: 50%;
}

.info h4 {
	color:#ed5292;
	font-weight: 800;
	font-size: 24px;
	margin-bottom: 10px;
}

.info p {
	color: #5f5e5e;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1.2;
}

#locatorBox {
	width: 30%;
	min-width: 350px;
}

#locatorForm input {
	padding: 10px;
}

#locatorForm input[type="submit"] {
	padding: 10px;
	-moz-transition  : all 0.3s ease-in-out;
	-webkit-transition  : all 0.3s ease-in-out;
    -o-transition       : all 0.2s ease-in-out;
    -ms-transition       : all 0.2s ease-in-out;
	transition    : all 0.2s ease-in-out; 
}

#locatorForm input[type="submit"]:hover {
	background-color: #1276c0;
}

/* CONTACT PAGE (LARGER SCREENS) */

#contact {
	margin-top: 20px;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#contact h3 {
	font-size: 60px;
}

#contact p {
	line-height: 1;
}

#email {
	width: 50%;
}

#email h3 {
	text-align: left;
}

#right {
	width: 20%;
	padding-right: 144px;
}

#call {
	padding-top: 0px;
	padding-bottom: 40px;
}

#call h3 {
	text-align: right;
}

.title {
	text-align: left;
	padding-bottom: 0px;
}

.number {
	text-align: right;
	padding-bottom: 0px;
}

#socialMedia {
	margin-top: 60px;
	padding: 60px;
}

#contactForm {
	width: 40%;
	padding-left: 0px;
	margin-left: 0px; 
}

#contactForm input, textarea { 
	width: 100%; 
	padding-left: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 16px;
}

#contactForm input[type="submit"] { 
	padding: 10px;
	width: 110%;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

#contactForm input[type="submit"]:hover {
	opacity: 0.6;
	-moz-transition  : all 0.2s ease-in-out;
	-webkit-transition  : all 0.2s ease-in-out;
    -o-transition       : all 0.2s ease-in-out;
    -ms-transition       : all 0.2s ease-in-out;
	transition    : all 0.2s ease-in-out; 
}

.icon {
	width: 8%;
	min-width: 80px;
	-moz-transition  : all 0.2s ease-in-out;
	-webkit-transition  : all 0.2s ease-in-out;
    -o-transition       : all 0.2s ease-in-out;
    -ms-transition       : all 0.2s ease-in-out;
	transition    : all 0.2s ease-in-out; 
}

.icon:hover {
	opacity: 0.6;
	cursor: pointer;
}

}